.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 20px;
  background-color: #f8f9fa;
  min-height: 90vh;
  font-family: "Poppins", sans-serif;
}

.profile-card {
  background: #ffffff;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  width: 380px;
  text-align: left;
}

.profile-title {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 1.3rem;
  font-weight: 600;
  color: #1e2a38;
  margin-bottom: 25px;
}

.profile-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 18px;
}

.label {
  flex: 1;
  color: #6b6b6b;
}

.value {
  flex: 1;
  font-weight: 600;
  color: #212529;
}

.edit-input {
  flex: 1;
  padding: 4px 6px;
  font-size: 0.9rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.edit-btn,
.icon-btn {
  background: none;
  border: none;
  color: #6c757d;
  cursor: pointer;
  font-size: 0.9rem;
  margin-left: 5px;
}

.edit-btn:hover {
  color: #007bff;
}

.icon-btn {
  font-size: 1rem;
  margin-right: 6px;
}

.profile-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.orders-btn,
.logout-btn,
.login-btn {
  background: none;
  border: none;
  color: #000000;
  font-weight: 500;
  cursor: pointer;
  transition: color 0.3s ease;
}

.orders-btn:hover,
.logout-btn:hover,
 {
  color: #000000;
}

.login-btn:hover
{
    color: #ffffff
}
.logged-out {
  background: #ffffff;
  padding: 40px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.old-profiles {
  margin-top: 20px;
  text-align: left;
}

